In [1]:
person = {
    "first" : "Corey",
    "last"  : "Schafer",
    "email" : "CoreyMSchafer@gmail.com"
}

In [2]:
people = {
    "first" : ["Corey"],
    "last"  : ["Schafer"],
    "email" : ["CoreMSchafer@gmail.com"]
}

In [3]:
people = {
    "first" : ["Corey", 'Jane', 'Jhon'],
    "last"  : ['Schafer', 'Doe', 'Doe'],
    "email" : ['CoreyMSchafer@gmail.com', 'JaneDoe@gmail.com', 'JhonDoe@gmail.com']
}

In [4]:
people['email']

['CoreyMSchafer@gmail.com', 'JaneDoe@gmail.com', 'JhonDoe@gmail.com']

In [5]:
import pandas as pd

In [6]:
df = pd.DataFrame(people)

In [7]:
df

   first     last                    email
0  Corey  Schafer  CoreyMSchafer@gmail.com
1   Jane      Doe        JaneDoe@gmail.com
2   Jhon      Doe        JhonDoe@gmail.com

Here we specify what is a dataframe, it is a 2 dimensional structure, that means that it is a structure composed by rows and columns. We give as many columns and rows as the data from where we create or extract the df (dataframe), in the df we have described as people, the df has 3 rows and 3 columns, because those where the number of keys and the number of elements inside the dictionary.

In [8]:
df['email']

0    CoreyMSchafer@gmail.com
1          JaneDoe@gmail.com
2          JhonDoe@gmail.com
Name: email, dtype: object

In [9]:
type(df['email'])

pandas.core.series.Series

A series is a 1 dimensional array, it is rows of data, the example is df['email'], which shows 3 rows of data, another way to get the same information is to do df.email, as is shown. There are advantages when using the first methodology, because when using ['zzz'], you are calling the single column under that name, but, if the name of the column is the same as some method, like 'count', only ['zzz'] would work, since df.count would access the method, not the column.

In [10]:
df.email

0    CoreyMSchafer@gmail.com
1          JaneDoe@gmail.com
2          JhonDoe@gmail.com
Name: email, dtype: object

In [12]:
df[['last','email']]

      last                    email
0  Schafer  CoreyMSchafer@gmail.com
1      Doe        JaneDoe@gmail.com
2      Doe        JhonDoe@gmail.com

When accesing multiple columns, the calling is df[['list']], since the first [] works as what's gonna be called, and the inner [] works as the list of columns we are calling. Also, the output is a filtered df, since the output is a 2 dimensional structure, with different kinds of data in it.

In [13]:
df.columns

Index(['first', 'last', 'email'], dtype='object')

In [15]:
df.iloc[0]

first                      Corey
last                     Schafer
email    CoreyMSchafer@gmail.com
Name: 0, dtype: object

In [16]:
df.iloc[[0,1]]

   first     last                    email
0  Corey  Schafer  CoreyMSchafer@gmail.com
1   Jane      Doe        JaneDoe@gmail.com

In [19]:
df.iloc[[0,1],2]

0    CoreyMSchafer@gmail.com
1          JaneDoe@gmail.com
Name: email, dtype: object

In [20]:
df.iloc[[0,1],[2]]

                     email
0  CoreyMSchafer@gmail.com
1        JaneDoe@gmail.com

In [21]:
df.loc[0]

first                      Corey
last                     Schafer
email    CoreyMSchafer@gmail.com
Name: 0, dtype: object

In [25]:
df.loc[[0,1],'last']

0    Schafer
1        Doe
Name: last, dtype: object

In [28]:
df.loc[[0,1],['email','last']]

                     email     last
0  CoreyMSchafer@gmail.com  Schafer
1        JaneDoe@gmail.com      Doe

Now, accessing rows could be done two ways, with iloc, or with loc, the first of these methods takes only integers, (that's why the 'i' in iloc), while the second method takes indexes, that mean that for example, for the columns, you can't as for the column 2 as you would do in iloc, but for the column 'email'. When accessing multiple rows, or multiple rows and columns, you write them in a list inside the method, and you cant write them in the order you want, because these methods create a new dataframe, with the rows as you've told it to have and the rows you'told it to have, in the express order you've said. That means that like above, you can call the column 'email' before the column 'last', independent of the order the had in the first df.

In [30]:
df.loc[[1,0,2,1,1],['last','email','first','email','last']]

      last                    email  first                    email     last
1      Doe        JaneDoe@gmail.com   Jane        JaneDoe@gmail.com      Doe
0  Schafer  CoreyMSchafer@gmail.com  Corey  CoreyMSchafer@gmail.com  Schafer
2      Doe        JhonDoe@gmail.com   Jhon        JhonDoe@gmail.com      Doe
1      Doe        JaneDoe@gmail.com   Jane        JaneDoe@gmail.com      Doe
1      Doe        JaneDoe@gmail.com   Jane        JaneDoe@gmail.com      Doe